<%- include ("header.ejs", {
        activePage: "home"
})%>
<%- include ("recommendation.ejs", {
      content : content,
      content1 : content1,
      content2 : content2,
      content3 : content3,
}) %>
    
  </body>
</html>
